<article class="container box style3">
    <header>
        <h2>Nisl sed ultricies</h2>
        <p>Diam dignissim lectus eu ornare volutpat orci.</p>
    </header>
    <form method="post" action="#">
        <div class="row gtr-50">
            <div class="col-6 col-12-mobile"><input type="text" class="text" name="name" placeholder="Name" /></div>
            <div class="col-6 col-12-mobile"><input type="text" class="text" name="email" placeholder="Email" />
            </div>
            <div class="col-12">
                <textarea name="message" placeholder="Message"></textarea>
            </div>
            <div class="col-12">
                <ul class="actions">
                    <li><input type="submit" value="Send Message" /></li>
                </ul>
            </div>
        </div>
    </form>
</article>