<script>
    let list = Math.round(Math.random() * 3);
    let titles = new Array();
    titles[0] = "你找不到我(^ω^) - ";
    titles[1] = "哎哟，崩溃啦 Σ(ﾟДﾟ;)";
    titles[2] = "回来看看我嘛⁄(⁄ ⁄•⁄ω⁄•⁄ ⁄)⁄";
    titles[3] = "嘤嘤嘤 (*´▽`*)";
    let title = document.title,
        hiddenProperty = "hidden" in document ? "hidden" : "webkitHidden" in document ? "webkitHidden" : "mozHidden" in document ? "mozHidden" : null,
        visibilityChangeEvent = hiddenProperty.replace(/hidden/i, "visibilitychange"),
        onVisibilityChange = function () {
            document[hiddenProperty] ? document.title = titles[list] + title : document.title = title
        };
    document.addEventListener(visibilityChangeEvent, onVisibilityChange);
</script>


<!--
<script>
    console.log("%c GloomyGhost %c", "background:#24272A; color:#ffffff", "", "\n你好啊！Hi~ o(*￣▽￣*)ブ");
    console.log("你是无意的打开了控制台吗？(⊙o⊙)？");
    console.log("既然打开了，为何不看看我的GitHub呢(。・∀・)ノ");
    console.log("我的GitHub是 https://github.com/GloomyGhost-MosquitoSeal (o゜ω゜o)");
    console.log("如果想让我帮你做点什么，我会考虑的(*^▽^*)")
</script>
-->

<script src="https://v1.hitokoto.cn/?encode=js&select=%23hitokoto" defer></script>
<script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ '/assets/js/prism.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/index.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/QwQ.min.js' | relative_url }}"></script>