<div id="windy-main" class="slow-wind">
    <div class="windy-main-wrapper">
        <div class="mountain-1"></div>
        <div class="mountain-2"></div>
        <div class="mountain-3"></div>
        <div class="mountain-4"></div>
        <div class="mountain-5"></div>
        <div class="tree-wrap">
            <div class="tree">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="windmill-pole-wrap">
            <div class="windmill-pole"></div>
        </div>
        <div class="windmill-pole-ellipses">
            <div class="windmill-pole-ellipses-wrapper">
                <div class="windmill-pole-ellipses-wrap">
                    <div class="windmill-pole-ellipses-center"></div>
                    <div class="ellipses">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="windmill-pole-wrap right">
            <div class="windmill-pole"></div>
        </div>
        <div class="windmill-pole-ellipses right">
            <div class="windmill-pole-ellipses-wrapper">
                <div class="windmill-pole-ellipses-wrap">
                    <div class="windmill-pole-ellipses-center"></div>
                    <div class="ellipses delayed">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="windmill-pole-wrap back-left">
            <div class="windmill-pole"></div>
        </div>
        <div class="windmill-pole-ellipses back-left">
            <div class="windmill-pole-ellipses-wrapper">
                <div class="windmill-pole-ellipses-wrap">
                    <div class="windmill-pole-ellipses-center"></div>
                    <div class="ellipses delayed">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>