// 404 page
.np-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 !important;
    text-align: center;
    h1 {
        font-size: 86px;
        letter-spacing: 4px;
        font-weight: normal;
        padding: 160px 0 20px;
    }
    .subheading {
        font-size: 18px;
    }
    .btn {
        display: block;
        width: 160px;
        height: 38px;
        font-size: 16px;
        color: #fff;
        line-height: 38px;
        border-radius: 3px;
        border: 1px solid #fff;
        margin: 80px auto 0;
        opacity: 0.8;
    }
}
