#banner {
    position: relative;
    color: #fff;
    text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
    text-align: center;
    background: #35b88f url("images/banner.svg") bottom center no-repeat;
    padding: 5em 0 5em 0;
    margin: 0;
    background-size: 125% auto;
}

#banner .button {
    color: #35b882;
    text-shadow: 0 0 0.5px rgba(53, 184, 130, 0.25);
}

#banner header {
    margin: 0 0 2em 0;
}

#banner header h2 {
    font-weight: 400;
    font-size: 1.75em;
    letter-spacing: 8px;
}

#banner p {
    margin: 0;
}

#banner footer {
    margin: 2em 0 0 0;
}

#banner a {
    color: inherit;
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

#banner a:hover {
    border-bottom-color: rgba(255, 255, 255, 0);
}
