.box {
    position: relative;
    margin-top: 9em;
    margin-bottom: 0;
}

.box:after {
    content: '';
    display: block;
    position: absolute;
    top: -9em;
    left: 50%;
    height: 9em;
    border-left: solid 1px #fff;
}

.box:before {
    content: '';
    display: block;
    width: 90px;
    height: 66px;
    position: absolute;
    left: 50%;
    top: -4.5em;
    margin-left: -45px;
    margin-top: -33px;
    background: none;
}

.box :last-child {
    margin-bottom: 0;
}

.box.style1 {
    background: #fff;
    padding: 3em;
}

.box.style1 .image {
    display: block;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background: #152E33;
    overflow: hidden;
}

.box.style1 .image img {
    position: absolute;
    top: 0;
    height: 100%;
    width: auto;
}

.box.style1 .inner > :last-child {
    margin: 0;
}

.box.style1.right .image {
    left: 0;
}

.box.style1.right .image img {
    right: 0;
}

.box.style1.right .inner {
    margin-left: 50%;
    padding-left: 3em;
}

.box.style1.left .image {
    right: 0;
}

.box.style1.left .image img {
    left: 0;
}

.box.style1.left .inner {
    margin-right: 50%;
    padding-right: 3em;
}

.box.style2 {
    text-align: center;
}

.box.style2 header {
    display: inline-block;
    background: #fff;
    padding: 2em 3em 2em 3em;
    margin: 0;
}

.box.style2 header p {
    padding: 0;
}

.box.style2 .inner {
    position: relative;
    padding: 40px 0 0px 0;
}

.box.style2 .inner:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    border-left: solid 1px #fff;
}

.box.style2 .inner .row {
    position: relative;
}

.box.style2 .inner .row:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 20px;
    width: calc(100% - 40px);
    border-bottom: solid 1px #fff;
}

.box.style2 .inner .image {
    position: relative;
    z-index: 1;
    padding: 20px;
}

.box.style3 {
    background: #fff;
    padding: 3em;
}

.box.style3 header {
    text-align: center;
}
