.container {
    margin: 0 auto;
    max-width: 100%;
    width: 1140px;
}

@media screen and (max-width: 1680px) {
    .container {
        width: 960px;
    }
}

@media screen and (max-width: 1080px) {
    .container {
        width: 95%;
    }
}