form label {
    display: block;
    margin: 0 0 0.5em 0;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select,
form textarea {
    -moz-transition: background-color 0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out;
    -ms-transition: background-color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out;
    -webkit-appearance: none;
    display: block;
    border: 0;
    background: #f1f1f1;
    width: 100%;
    padding: 0.75em;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form select:focus,
form textarea:focus {
    background-color: #f8f8f8;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select {
    line-height: 1em;
}

form select {
    background-size: 1.25em;
    background-repeat: no-repeat;
    background-position: calc(100% - 1em) center;
    padding-right: 1.25em;
    text-overflow: ellipsis;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='%235a5959' /%3E%3C/svg%3E");
}

form select option {
    color: #3a3939;
    background: #ffffff;
}

form select:focus::-ms-value {
    background-color: transparent;
}

form select::-ms-expand {
    display: none;
}

form textarea {
    min-height: 12em;
}

form ::-webkit-input-placeholder {
    color: #5a5959 !important;
}

form :-moz-placeholder {
    color: #5a5959 !important;
}

form ::-moz-placeholder {
    color: #5a5959 !important;
}

form :-ms-input-placeholder {
    color: #5a5959 !important;
}

form ::-moz-focus-inner {
    border: 0;
}

form ul.actions {
    margin-bottom: 0;
    text-align: center;
}

/* Table */

.table-wrapper {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

table {
    width: 100%;
}

table tbody tr {
    border-top: solid 1px #eae9e9;
}

table tbody tr:first-child {
    border-top: 0;
}

table td {
    padding: 0.75em 1.25em 0.75em 1.25em;
}

table th {
    text-align: left;
    font-weight: 400;
    padding: 0.75em 1.25em 0.75em 1.25em;
}

table thead {
    background: #f5f5f5;
}

/* Button */

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
    -moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
    -ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    border: 0;
    background: #35b88f;
    color: #fff;
    text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    padding: 1em 3em 1em 3em;
    text-align: center;
    border-radius: 3em;
    font-weight: 400;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover {
    background: #45c89f;
}

input[type="button"].style2,
input[type="submit"].style2,
input[type="reset"].style2,
button.style2,
.button.style2 {
    color: #3a3939;
    background: #fff;
    box-shadow: inset 0 0 0 1px #fff;
}

input[type="button"].style2:hover,
input[type="submit"].style2:hover,
input[type="reset"].style2:hover,
button.style2:hover,
.button.style2:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #fff !important;
    text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25) !important;
}

input[type="button"].style3,
input[type="submit"].style3,
input[type="reset"].style3,
button.style3,
.button.style3 {
    background: none;
    color: #3a3939;
    box-shadow: inset 0 0 0 1px #dad9d9;
}

input[type="button"].style3:hover,
input[type="submit"].style3:hover,
input[type="reset"].style3:hover,
button.style3:hover,
.button.style3:hover {
    background: rgba(58, 57, 57, 0.025);
}