.g-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $g-header-h;
    padding: 0;
    background-color: #fff;
    transition: all 0.8s;
    z-index: 1000;
    .g-logo {
        margin-top: 16px;
        float: left;
        margin-left: 2%;
        width: $g-header-logo-h;
        height: $g-header-logo-h;
        background: url("../icons/logo.svg") no-repeat center;
        background-size: 100% 100%;
        opacity: 0.8;
        transition: all 0.2s;
        &:hover {
            opacity: 1;
        }
        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .icon-menu {
        display: none;
        position: absolute;
        top: 8px;
        right: 0;
        padding: 8px;
        font-size: 28px;
        color: #00000085;
        opacity: 0.8;
        border-radius: 3px;
        &:active {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    .g-nav {
        float: right;
        margin-right: 2%;
        & > ul > li {
            float: left;
            height: $g-header-h;
            line-height: $g-header-h;
            text-transform: uppercase;
            margin-right: 18px;
            &:last-child {
                margin-right: 0;
            }
            & > a {
                display: inline-block;
                font-size: 14px;
                letter-spacing: 1px;
                color: rgba(0, 0, 0, 0.8);
                padding: 0 12px;
                opacity: 0.7;
                &:hover {
                    opacity: 1;
                    color: rgb(0, 0, 0);
                }
            }
        }
    }

    .nav-default {
        a:hover {
            color: $color-theme-default !important;
        }
    }
    .nav-pink {
        a:hover {
            color: $color-theme-pink !important;
        }
    }
}

// header scroll
.headerUp {
    top: -65px;
}
.headerDown {
    top: 0;
}
