.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
}

.row > * {
    box-sizing: border-box;
}

.row.gtr-uniform > * > :last-child {
    margin-bottom: 0;
}

.row.aln-left {
    justify-content: flex-start;
}

.row.aln-center {
    justify-content: center;
}

.row.aln-right {
    justify-content: flex-end;
}

.row.aln-top {
    align-items: flex-start;
}

.row.aln-middle {
    align-items: center;
}

.row.aln-bottom {
    align-items: flex-end;
}

.row > .imp {
    order: -1;
}

.row > .col-1 {
    width: 8.33333%;
}

.row > .off-1 {
    margin-left: 8.33333%;
}

.row > .col-2 {
    width: 16.66667%;
}

.row > .off-2 {
    margin-left: 16.66667%;
}

.row > .col-3 {
    width: 25%;
}

.row > .off-3 {
    margin-left: 25%;
}

.row > .col-4 {
    width: 33.33333%;
}

.row > .off-4 {
    margin-left: 33.33333%;
}

.row > .col-5 {
    width: 41.66667%;
}

.row > .off-5 {
    margin-left: 41.66667%;
}

.row > .col-6 {
    width: 50%;
}

.row > .off-6 {
    margin-left: 50%;
}

.row > .col-7 {
    width: 58.33333%;
}

.row > .off-7 {
    margin-left: 58.33333%;
}

.row > .col-8 {
    width: 66.66667%;
}

.row > .off-8 {
    margin-left: 66.66667%;
}

.row > .col-9 {
    width: 75%;
}

.row > .off-9 {
    margin-left: 75%;
}

.row > .col-10 {
    width: 83.33333%;
}

.row > .off-10 {
    margin-left: 83.33333%;
}

.row > .col-11 {
    width: 91.66667%;
}

.row > .off-11 {
    margin-left: 91.66667%;
}

.row > .col-12 {
    width: 100%;
}

.row > .off-12 {
    margin-left: 100%;
}

.row.gtr-0 {
    margin-top: 0px;
    margin-left: 0px;
}

.row.gtr-0 > * {
    padding: 0px 0 0 0px;
}

.row.gtr-0.gtr-uniform {
    margin-top: 0px;
}

.row.gtr-0.gtr-uniform > * {
    padding-top: 0px;
}

.row.gtr-25 {
    margin-top: -10px;
    margin-left: -10px;
}

.row.gtr-25 > * {
    padding: 10px 0 0 10px;
}

.row.gtr-25.gtr-uniform {
    margin-top: -10px;
}

.row.gtr-25.gtr-uniform > * {
    padding-top: 10px;
}

.row.gtr-50 {
    margin-top: -20px;
    margin-left: -20px;
}

.row.gtr-50 > * {
    padding: 20px 0 0 20px;
}

.row.gtr-50.gtr-uniform {
    margin-top: -20px;
}

.row.gtr-50.gtr-uniform > * {
    padding-top: 20px;
}

.row {
    margin-top: -40px;
    margin-left: -40px;
}

.row > * {
    padding: 40px 0 0 40px;
}

.row.gtr-uniform {
    margin-top: -40px;
}

.row.gtr-uniform > * {
    padding-top: 40px;
}

.row.gtr-150 {
    margin-top: -60px;
    margin-left: -60px;
}

.row.gtr-150 > * {
    padding: 60px 0 0 60px;
}

.row.gtr-150.gtr-uniform {
    margin-top: -60px;
}

.row.gtr-150.gtr-uniform > * {
    padding-top: 60px;
}

.row.gtr-200 {
    margin-top: -80px;
    margin-left: -80px;
}

.row.gtr-200 > * {
    padding: 80px 0 0 80px;
}

.row.gtr-200.gtr-uniform {
    margin-top: -80px;
}

.row.gtr-200.gtr-uniform > * {
    padding-top: 80px;
}

@media screen and (max-width: 1680px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
    }

    .row > * {
        box-sizing: border-box;
    }

    .row.gtr-uniform > * > :last-child {
        margin-bottom: 0;
    }

    .row.aln-left {
        justify-content: flex-start;
    }

    .row.aln-center {
        justify-content: center;
    }

    .row.aln-right {
        justify-content: flex-end;
    }

    .row.aln-top {
        align-items: flex-start;
    }

    .row.aln-middle {
        align-items: center;
    }

    .row.aln-bottom {
        align-items: flex-end;
    }

    .row > .imp-wide {
        order: -1;
    }

    .row > .col-1-wide {
        width: 8.33333%;
    }

    .row > .off-1-wide {
        margin-left: 8.33333%;
    }

    .row > .col-2-wide {
        width: 16.66667%;
    }

    .row > .off-2-wide {
        margin-left: 16.66667%;
    }

    .row > .col-3-wide {
        width: 25%;
    }

    .row > .off-3-wide {
        margin-left: 25%;
    }

    .row > .col-4-wide {
        width: 33.33333%;
    }

    .row > .off-4-wide {
        margin-left: 33.33333%;
    }

    .row > .col-5-wide {
        width: 41.66667%;
    }

    .row > .off-5-wide {
        margin-left: 41.66667%;
    }

    .row > .col-6-wide {
        width: 50%;
    }

    .row > .off-6-wide {
        margin-left: 50%;
    }

    .row > .col-7-wide {
        width: 58.33333%;
    }

    .row > .off-7-wide {
        margin-left: 58.33333%;
    }

    .row > .col-8-wide {
        width: 66.66667%;
    }

    .row > .off-8-wide {
        margin-left: 66.66667%;
    }

    .row > .col-9-wide {
        width: 75%;
    }

    .row > .off-9-wide {
        margin-left: 75%;
    }

    .row > .col-10-wide {
        width: 83.33333%;
    }

    .row > .off-10-wide {
        margin-left: 83.33333%;
    }

    .row > .col-11-wide {
        width: 91.66667%;
    }

    .row > .off-11-wide {
        margin-left: 91.66667%;
    }

    .row > .col-12-wide {
        width: 100%;
    }

    .row > .off-12-wide {
        margin-left: 100%;
    }

    .row.gtr-0 {
        margin-top: 0px;
        margin-left: 0px;
    }

    .row.gtr-0 > * {
        padding: 0px 0 0 0px;
    }

    .row.gtr-0.gtr-uniform {
        margin-top: 0px;
    }

    .row.gtr-0.gtr-uniform > * {
        padding-top: 0px;
    }

    .row.gtr-25 {
        margin-top: -10px;
        margin-left: -10px;
    }

    .row.gtr-25 > * {
        padding: 10px 0 0 10px;
    }

    .row.gtr-25.gtr-uniform {
        margin-top: -10px;
    }

    .row.gtr-25.gtr-uniform > * {
        padding-top: 10px;
    }

    .row.gtr-50 {
        margin-top: -20px;
        margin-left: -20px;
    }

    .row.gtr-50 > * {
        padding: 20px 0 0 20px;
    }

    .row.gtr-50.gtr-uniform {
        margin-top: -20px;
    }

    .row.gtr-50.gtr-uniform > * {
        padding-top: 20px;
    }

    .row {
        margin-top: -40px;
        margin-left: -40px;
    }

    .row > * {
        padding: 40px 0 0 40px;
    }

    .row.gtr-uniform {
        margin-top: -40px;
    }

    .row.gtr-uniform > * {
        padding-top: 40px;
    }

    .row.gtr-150 {
        margin-top: -60px;
        margin-left: -60px;
    }

    .row.gtr-150 > * {
        padding: 60px 0 0 60px;
    }

    .row.gtr-150.gtr-uniform {
        margin-top: -60px;
    }

    .row.gtr-150.gtr-uniform > * {
        padding-top: 60px;
    }

    .row.gtr-200 {
        margin-top: -80px;
        margin-left: -80px;
    }

    .row.gtr-200 > * {
        padding: 80px 0 0 80px;
    }

    .row.gtr-200.gtr-uniform {
        margin-top: -80px;
    }

    .row.gtr-200.gtr-uniform > * {
        padding-top: 80px;
    }
}

@media screen and (max-width: 1080px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
    }

    .row > * {
        box-sizing: border-box;
    }

    .row.gtr-uniform > * > :last-child {
        margin-bottom: 0;
    }

    .row.aln-left {
        justify-content: flex-start;
    }

    .row.aln-center {
        justify-content: center;
    }

    .row.aln-right {
        justify-content: flex-end;
    }

    .row.aln-top {
        align-items: flex-start;
    }

    .row.aln-middle {
        align-items: center;
    }

    .row.aln-bottom {
        align-items: flex-end;
    }

    .row > .imp-normal {
        order: -1;
    }

    .row > .col-1-normal {
        width: 8.33333%;
    }

    .row > .off-1-normal {
        margin-left: 8.33333%;
    }

    .row > .col-2-normal {
        width: 16.66667%;
    }

    .row > .off-2-normal {
        margin-left: 16.66667%;
    }

    .row > .col-3-normal {
        width: 25%;
    }

    .row > .off-3-normal {
        margin-left: 25%;
    }

    .row > .col-4-normal {
        width: 33.33333%;
    }

    .row > .off-4-normal {
        margin-left: 33.33333%;
    }

    .row > .col-5-normal {
        width: 41.66667%;
    }

    .row > .off-5-normal {
        margin-left: 41.66667%;
    }

    .row > .col-6-normal {
        width: 50%;
    }

    .row > .off-6-normal {
        margin-left: 50%;
    }

    .row > .col-7-normal {
        width: 58.33333%;
    }

    .row > .off-7-normal {
        margin-left: 58.33333%;
    }

    .row > .col-8-normal {
        width: 66.66667%;
    }

    .row > .off-8-normal {
        margin-left: 66.66667%;
    }

    .row > .col-9-normal {
        width: 75%;
    }

    .row > .off-9-normal {
        margin-left: 75%;
    }

    .row > .col-10-normal {
        width: 83.33333%;
    }

    .row > .off-10-normal {
        margin-left: 83.33333%;
    }

    .row > .col-11-normal {
        width: 91.66667%;
    }

    .row > .off-11-normal {
        margin-left: 91.66667%;
    }

    .row > .col-12-normal {
        width: 100%;
    }

    .row > .off-12-normal {
        margin-left: 100%;
    }

    .row.gtr-0 {
        margin-top: 0px;
        margin-left: 0px;
    }

    .row.gtr-0 > * {
        padding: 0px 0 0 0px;
    }

    .row.gtr-0.gtr-uniform {
        margin-top: 0px;
    }

    .row.gtr-0.gtr-uniform > * {
        padding-top: 0px;
    }

    .row.gtr-25 {
        margin-top: -10px;
        margin-left: -10px;
    }

    .row.gtr-25 > * {
        padding: 10px 0 0 10px;
    }

    .row.gtr-25.gtr-uniform {
        margin-top: -10px;
    }

    .row.gtr-25.gtr-uniform > * {
        padding-top: 10px;
    }

    .row.gtr-50 {
        margin-top: -20px;
        margin-left: -20px;
    }

    .row.gtr-50 > * {
        padding: 20px 0 0 20px;
    }

    .row.gtr-50.gtr-uniform {
        margin-top: -20px;
    }

    .row.gtr-50.gtr-uniform > * {
        padding-top: 20px;
    }

    .row {
        margin-top: -40px;
        margin-left: -40px;
    }

    .row > * {
        padding: 40px 0 0 40px;
    }

    .row.gtr-uniform {
        margin-top: -40px;
    }

    .row.gtr-uniform > * {
        padding-top: 40px;
    }

    .row.gtr-150 {
        margin-top: -60px;
        margin-left: -60px;
    }

    .row.gtr-150 > * {
        padding: 60px 0 0 60px;
    }

    .row.gtr-150.gtr-uniform {
        margin-top: -60px;
    }

    .row.gtr-150.gtr-uniform > * {
        padding-top: 60px;
    }

    .row.gtr-200 {
        margin-top: -80px;
        margin-left: -80px;
    }

    .row.gtr-200 > * {
        padding: 80px 0 0 80px;
    }

    .row.gtr-200.gtr-uniform {
        margin-top: -80px;
    }

    .row.gtr-200.gtr-uniform > * {
        padding-top: 80px;
    }
}

@media screen and (max-width: 840px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
    }

    .row > * {
        box-sizing: border-box;
    }

    .row.gtr-uniform > * > :last-child {
        margin-bottom: 0;
    }

    .row.aln-left {
        justify-content: flex-start;
    }

    .row.aln-center {
        justify-content: center;
    }

    .row.aln-right {
        justify-content: flex-end;
    }

    .row.aln-top {
        align-items: flex-start;
    }

    .row.aln-middle {
        align-items: center;
    }

    .row.aln-bottom {
        align-items: flex-end;
    }

    .row > .imp-narrow {
        order: -1;
    }

    .row > .col-1-narrow {
        width: 8.33333%;
    }

    .row > .off-1-narrow {
        margin-left: 8.33333%;
    }

    .row > .col-2-narrow {
        width: 16.66667%;
    }

    .row > .off-2-narrow {
        margin-left: 16.66667%;
    }

    .row > .col-3-narrow {
        width: 25%;
    }

    .row > .off-3-narrow {
        margin-left: 25%;
    }

    .row > .col-4-narrow {
        width: 33.33333%;
    }

    .row > .off-4-narrow {
        margin-left: 33.33333%;
    }

    .row > .col-5-narrow {
        width: 41.66667%;
    }

    .row > .off-5-narrow {
        margin-left: 41.66667%;
    }

    .row > .col-6-narrow {
        width: 50%;
    }

    .row > .off-6-narrow {
        margin-left: 50%;
    }

    .row > .col-7-narrow {
        width: 58.33333%;
    }

    .row > .off-7-narrow {
        margin-left: 58.33333%;
    }

    .row > .col-8-narrow {
        width: 66.66667%;
    }

    .row > .off-8-narrow {
        margin-left: 66.66667%;
    }

    .row > .col-9-narrow {
        width: 75%;
    }

    .row > .off-9-narrow {
        margin-left: 75%;
    }

    .row > .col-10-narrow {
        width: 83.33333%;
    }

    .row > .off-10-narrow {
        margin-left: 83.33333%;
    }

    .row > .col-11-narrow {
        width: 91.66667%;
    }

    .row > .off-11-narrow {
        margin-left: 91.66667%;
    }

    .row > .col-12-narrow {
        width: 100%;
    }

    .row > .off-12-narrow {
        margin-left: 100%;
    }

    .row.gtr-0 {
        margin-top: 0px;
        margin-left: 0px;
    }

    .row.gtr-0 > * {
        padding: 0px 0 0 0px;
    }

    .row.gtr-0.gtr-uniform {
        margin-top: 0px;
    }

    .row.gtr-0.gtr-uniform > * {
        padding-top: 0px;
    }

    .row.gtr-25 {
        margin-top: -7.5px;
        margin-left: -7.5px;
    }

    .row.gtr-25 > * {
        padding: 7.5px 0 0 7.5px;
    }

    .row.gtr-25.gtr-uniform {
        margin-top: -7.5px;
    }

    .row.gtr-25.gtr-uniform > * {
        padding-top: 7.5px;
    }

    .row.gtr-50 {
        margin-top: -15px;
        margin-left: -15px;
    }

    .row.gtr-50 > * {
        padding: 15px 0 0 15px;
    }

    .row.gtr-50.gtr-uniform {
        margin-top: -15px;
    }

    .row.gtr-50.gtr-uniform > * {
        padding-top: 15px;
    }

    .row {
        margin-top: -30px;
        margin-left: -30px;
    }

    .row > * {
        padding: 30px 0 0 30px;
    }

    .row.gtr-uniform {
        margin-top: -30px;
    }

    .row.gtr-uniform > * {
        padding-top: 30px;
    }

    .row.gtr-150 {
        margin-top: -45px;
        margin-left: -45px;
    }

    .row.gtr-150 > * {
        padding: 45px 0 0 45px;
    }

    .row.gtr-150.gtr-uniform {
        margin-top: -45px;
    }

    .row.gtr-150.gtr-uniform > * {
        padding-top: 45px;
    }

    .row.gtr-200 {
        margin-top: -60px;
        margin-left: -60px;
    }

    .row.gtr-200 > * {
        padding: 60px 0 0 60px;
    }

    .row.gtr-200.gtr-uniform {
        margin-top: -60px;
    }

    .row.gtr-200.gtr-uniform > * {
        padding-top: 60px;
    }
}

@media screen and (max-width: 736px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
    }

    .row > * {
        box-sizing: border-box;
    }

    .row.gtr-uniform > * > :last-child {
        margin-bottom: 0;
    }

    .row.aln-left {
        justify-content: flex-start;
    }

    .row.aln-center {
        justify-content: center;
    }

    .row.aln-right {
        justify-content: flex-end;
    }

    .row.aln-top {
        align-items: flex-start;
    }

    .row.aln-middle {
        align-items: center;
    }

    .row.aln-bottom {
        align-items: flex-end;
    }

    .row > .imp-mobile {
        order: -1;
    }

    .row > .col-1-mobile {
        width: 8.33333%;
    }

    .row > .off-1-mobile {
        margin-left: 8.33333%;
    }

    .row > .col-2-mobile {
        width: 16.66667%;
    }

    .row > .off-2-mobile {
        margin-left: 16.66667%;
    }

    .row > .col-3-mobile {
        width: 25%;
    }

    .row > .off-3-mobile {
        margin-left: 25%;
    }

    .row > .col-4-mobile {
        width: 33.33333%;
    }

    .row > .off-4-mobile {
        margin-left: 33.33333%;
    }

    .row > .col-5-mobile {
        width: 41.66667%;
    }

    .row > .off-5-mobile {
        margin-left: 41.66667%;
    }

    .row > .col-6-mobile {
        width: 50%;
    }

    .row > .off-6-mobile {
        margin-left: 50%;
    }

    .row > .col-7-mobile {
        width: 58.33333%;
    }

    .row > .off-7-mobile {
        margin-left: 58.33333%;
    }

    .row > .col-8-mobile {
        width: 66.66667%;
    }

    .row > .off-8-mobile {
        margin-left: 66.66667%;
    }

    .row > .col-9-mobile {
        width: 75%;
    }

    .row > .off-9-mobile {
        margin-left: 75%;
    }

    .row > .col-10-mobile {
        width: 83.33333%;
    }

    .row > .off-10-mobile {
        margin-left: 83.33333%;
    }

    .row > .col-11-mobile {
        width: 91.66667%;
    }

    .row > .off-11-mobile {
        margin-left: 91.66667%;
    }

    .row > .col-12-mobile {
        width: 100%;
    }

    .row > .off-12-mobile {
        margin-left: 100%;
    }

    .row.gtr-0 {
        margin-top: 0px;
        margin-left: 0px;
    }

    .row.gtr-0 > * {
        padding: 0px 0 0 0px;
    }

    .row.gtr-0.gtr-uniform {
        margin-top: 0px;
    }

    .row.gtr-0.gtr-uniform > * {
        padding-top: 0px;
    }

    .row.gtr-25 {
        margin-top: -5px;
        margin-left: -5px;
    }

    .row.gtr-25 > * {
        padding: 5px 0 0 5px;
    }

    .row.gtr-25.gtr-uniform {
        margin-top: -5px;
    }

    .row.gtr-25.gtr-uniform > * {
        padding-top: 5px;
    }

    .row.gtr-50 {
        margin-top: -10px;
        margin-left: -10px;
    }

    .row.gtr-50 > * {
        padding: 10px 0 0 10px;
    }

    .row.gtr-50.gtr-uniform {
        margin-top: -10px;
    }

    .row.gtr-50.gtr-uniform > * {
        padding-top: 10px;
    }

    .row {
        margin-top: -20px;
        margin-left: -20px;
    }

    .row > * {
        padding: 20px 0 0 20px;
    }

    .row.gtr-uniform {
        margin-top: -20px;
    }

    .row.gtr-uniform > * {
        padding-top: 20px;
    }

    .row.gtr-150 {
        margin-top: -30px;
        margin-left: -30px;
    }

    .row.gtr-150 > * {
        padding: 30px 0 0 30px;
    }

    .row.gtr-150.gtr-uniform {
        margin-top: -30px;
    }

    .row.gtr-150.gtr-uniform > * {
        padding-top: 30px;
    }

    .row.gtr-200 {
        margin-top: -40px;
        margin-left: -40px;
    }

    .row.gtr-200 > * {
        padding: 40px 0 0 40px;
    }

    .row.gtr-200.gtr-uniform {
        margin-top: -40px;
    }

    .row.gtr-200.gtr-uniform > * {
        padding-top: 40px;
    }
}