.g-sidebar-wrapper {
    float: right;
    width: 240px;
}

.g-sidebar {
    @include cardStyle;
    section {
        padding: 30px 0;
        border-bottom: 1px solid #e7eaf1;
        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }
        .tag {
            margin-bottom: 8px;
        }
    }
}

.g-sidebar-ad {
    margin-top: 16px;
}

.search-card {
    position: relative;
    margin-top: 16px;
    padding: 0;

    input,
    .search_item {
        font-size: 16px;
        color: $color-f-primary;
    }
    input {
        @include cardStyle;
        position: relative;
        padding: 12px 46px 12px 18px;
        margin: 0;
        width: 100%;
        background-color: #fff;
        outline: none;
        z-index: 1;
    }
    ::-webkit-input-placeholder {
        color: #9ea8b3;
    }
    :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #9ea8b3;
    }
    ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #9ea8b3;
    }
    .icon-search {
        position: absolute;
        top: 10px;
        right: 18px;
        font-size: 26px;
        color: #cad3dc;
        transition: 0.2s;
        z-index: 1;
    }
    .search_result {
        position: relative;
        margin-top: -2px;
        // max-height: 230px;
        background-color: #fff;
        border-radius: 0 0 4px 4px;
        // overflow: scroll;
        z-index: 0;
    }
    .search_item {
        padding: 6px 18px;
        margin-bottom: 0;
        width: 100%;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-left: 1px solid #e7eaf1;
        border-right: 1px solid #e7eaf1;
        box-sizing: border-box;
        opacity: 0.8;
        transition: 0.2s;
        &:first-child {
            padding-top: 14px;
        }
        &:last-child {
            padding-bottom: 14px;
            border-radius: 0 0 4px 4px;
            border-bottom: 1px solid #e7eaf1;
        }
        &:hover {
            opacity: 1;
            background-color: #fafafa;
        }
    }
}

.pagination {
    float: left;
    position: relative;
    left: 50%;
    margin: 8px auto 0;
    .page-links {
        position: relative;
        left: -50%;
        border: 1px solid #e7eaf1;
        border-radius: 3px;
        background-color: #fff;
        padding: 0 8px;
        overflow: auto;
        box-shadow: 0 1px 3px rgba(0, 37, 55, 0.06);
    }
    .page-link {
        display: block;
        float: left;
        width: 34px;
        height: 34px;
        margin: 6px;
        font-size: 16px;
        color: #a9b0bc;
        line-height: 34px;
        text-align: center;
        border-radius: 2px;
        cursor: pointer;
        &:hover {
            color: #8f98aa;
            background-color: #eef0f4;
        }
    }

    .active {
        color: #8f98aa;
        background-color: #eef0f4;
    }
    #page-link-container {
        float: left;
    }
}
